# Ignore Files in the MPAS Direcory

# All pre-processed Fortran files in MPAS specific directories
src/core_*/Registry_processed.xml
src/core_*/*.f90
src/framework/*.f90
src/driver/*.f90
src/operators/*.f90

# All object files
*.o

# All mod files
*.mod

# All libraries
*.a

# Executables
*_model
build_tables

# NetCDF Files
*.nc

# Restart timestamp file
restart_timestamp

# Graph files and partition files
*.info
*.info.part.*

# Error, Output, and Abort log files
*.out
*.err
*.abort

# Text files (For statistical output from ocean model)
*.txt

# Directories with individual .gitignore files are:
# src/external (Externals might have a different compilation method)
# src/inc (Include files don't exist until build time. But directory needs to exist.)
# src/core_atmosphere (Directory to include object files from physics in the atmosphere core library.)

# Ignore WRF Physics Files
*.TBL
*DATA*

# Ignore MPAS core build files.
.mpas_core_*

# Ignore all runtime config files
namelist.*
streams.*
stream_list.*

# Intermediate files that may be produced by Intel compilers
*.i
*.i90

# Authenticator file for downloading ERA5 data with cds api
.cdsapirc

# Python cache
/pycache/*
*/pycache/*
benchmarks/__pycache__/*
grids/utilities/jigsaw/__pycache__/*
post_proc/py/geometry_lat_lon_2d_plot/__pycache__/*

src/core_*/inc
.DS_Store

# Ignore figures generated
grids/utilities/jigsaw/Catarina_250-8km/*e.png
post_proc/py/geometry_lat_lon_2d_plot/*.png
grids/utilities/jigsaw/Catarina_250-8km/*.png

# ignore grids generated
grids/utilities/jigsaw/Catarina_250-8km/
grids/utilities/jigsaw/test
post_proc/py/geometry_lat_lon_2d_plot/patches
