# Ignore Files in the MPAS Direcory

# All pre-processed Fortran files in MPAS specific directories
src/core_*/Registry_processed.xml
src/core_*/*.f90
src/framework/*.f90
src/driver/*.f90
src/operators/*.f90

# All object files
*.o

# All mod files
*.mod

# All libraries
*.a

# Executables
*_model
build_tables

# NetCDF Files
*.nc

# Restart timestamp file
restart_timestamp

# Graph files and partition files
*.info
*.info.part.*

# Error, Output, and Abort log files
*.out
*.err
*.abort

# Text files (For statistical output from ocean model)
*.txt

# Directories with individual .gitignore files are:
# src/external (Externals might have a different compilation method)
# src/inc (Include files don't exist until build time. But directory needs to exist.)
# src/core_atmosphere (Directory to include object files from physics in the atmosphere core library.)

# Ignore WRF Physics Files
*.TBL
*DATA*

# Ignore MPAS core build files.
.mpas_core_*

# Ignore all runtime config files
namelist.*
streams.*
stream_list.*

# Intermediate files that may be produced by Intel compilers
*.i
*.i90

# Authenticator file for downloading ERA5 data with cds api
.cdsapirc

# Python cache
/pycache/*
*/pycache/*
benchmarks/__pycache__/*
grids/utilities/jigsaw/__pycache__/*
post_proc/py/geometry_lat_lon_2d_plot/__pycache__/*
post_proc/py/__pycache__/
post_proc/py/time_series_compare/__pycache__
post_proc/py/interactive_postprocessing/__pycache__

src/core_*/inc
.DS_Store

# Ignore figures generated
grids/utilities/jigsaw/Catarina_250-8km/*e.png
post_proc/py/geometry_lat_lon_2d_plot/*.png
grids/utilities/jigsaw/Catarina_250-8km/*.png
post_proc/py/grid_maps/*.png

# ignore grids generated
grids/utilities/jigsaw/Catarina_250-8km/
grids/utilities/jigsaw/test
grids/utilities/jigsaw/catarina_150-12km/*
grids/utilities/jigsaw/Catarina_160-8km/*
grids/utilities/jigsaw/cyclones_test/*
post_proc/py/geometry_lat_lon_2d_plot/patches
grids/grids/Catarina_250-8km/*
grids/grids/res*/*
grids/grids/x1.*.cvt.part.*


# ignore benchmarks created
benchmarks/Catarina_physics-test/*
benchmarks/Petropolis_2022/*
VERSION


# ignore input data
input_data/ERA5*
input_data/SST*
INMET_*.CSV

# others
local_software/gcc-8.5.0/*
local_software/libs/
local_software/libs-gcc/
local_software/ncarsources
local_software/gccsources/
local_software/people/*
met_data/ERA5/scripts/APIs/*
.vscode
grids/utilities/convert_nc_grid_to_xyz/convert_grid_to_xyz
