# This file is the ocean core's configuration file. It is specific to the ocean
# core, and a specific machine. Each machine will configure this file
# differently, but it can be used to point on version of the testing
# infrastructure at a different version of the model.


# The namelists section defines paths to template namelists that will be used
# to generate specific namelists. Typically these will point to the forward and
# init namelists in the default_inputs directory after a successful build of
# the ocean model.
[namelists]
forward = /lustre/scratch4/turquoise/jamilg/MPAS-Model/namelist.ocean
init    = /lustre/scratch4/turquoise/jamilg/MPAS-Model/namelist.ocean

# The streams section defines paths to template streams files that will be used
# to generate specific streams files. Typically these will point to the forward and
# init streams files in the default_inputs directory after a successful build of
# the ocean model.
[streams]
forward = /lustre/scratch4/turquoise/jamilg/MPAS-Model/streams.ocean.forward
init    = /lustre/scratch4/turquoise/jamilg/MPAS-Model/streams.ocean.init

# The executables section defines paths to required executables. These
# executables are provided for use by specific test cases.
# Full paths should be provided in order to access the executables from
# anywhere on the machine.
[executables]
model = /lustre/scratch4/turquoise/jamilg/MPAS-Model/ocean_model
mesh_converter = /lustre/scratch4/turquoise/jamilg/MPAS-Tools/mesh_tools/mesh_conversion_tools/MpasMeshConverter.x
cell_culler = /lustre/scratch4/turquoise/jamilg/MPAS-Tools/mesh_tools/mesh_conversion_tools/MpasCellCuller.x
mask_creator = /lustre/scratch4/turquoise/jamilg/MPAS-Tools/mesh_tools/mesh_conversion_tools/MpasMaskCreator.x
metis = /usr/projects/climate/SHARED_CLIMATE/software/grizzly/metis/5.1.0/bin/gpmetis
planar_hex = /lustre/scratch4/turquoise/jamilg/MPAS-Tools/mesh_tools/planar_hex/planar_hex/mpas_tools/planar_hex.py 
# The paths section describes paths that are used within the ocean core test
# cases.
[paths]

# The mesh_database and the initial_condition_database are locations where
# meshes / initial conditions might be found on a specific machine. They can be
# the same directory, or different directory. Additionally, if they are empty
# some test cases might download data into them, which will then be reused if
# the test case is run again later.
mpas_model = /lustre/scratch4/turquoise/jamilg/MPAS-Model
geometric_features = /lustre/scratch4/turquoise/jamilg/geometric_features
geometric_data = /lustre/scratch4/turquoise/jamilg/geometric_features/geometric_data
mpas_tools = /lustre/scratch4/turquoise/jamilg/MPAS-Tools
jigsaw-geo-matlab = /lustre/scratch4/turquoise/jamilg/jigsaw-geo-matlab
jigsaw_to_MPAS = /lustre/scratch4/turquoise/jamilg/MPAS-Model/testing_and_setup/compass/ocean/jigsaw_to_MPAS 
mesh_database = /lustre/scratch4/turquoise/jamilg/temp
initial_condition_database = /lustre/scratch4/turquoise/jamilg/temp
